<% content_for :title, "Editing todo" %>
<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6">
  <h1 class="text-2xl font-bold text-gray-900 mb-6">Editing Todo</h1>
  <%= render "form", todo: @todo %>
  <div class="mt-6 flex flex-col space-y-2 sm:flex-row sm:space-y-0 sm:space-x-3">
    <%= link_to "Show this todo", @todo, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center" %>
    <%= link_to "Back to todos", todos_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded text-center" %>
    <%= link_to "Delete todo", @todo, method: :delete, data: { confirm: "Are you sure?" }, 
        class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-center" %>
  </div>
</div>
